html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: darkblue;
}
.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1/1;
  max-height: 750px;
  max-width: 750px;
  /* min-height: 200px; */
  /* min-width: 200px; */
  flex: 1;

  gap: 7px;
}
.board > * > * {
  font-size: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  border-radius: 14px;
  border: 8px solid green;
}
.rows {
  display: flex;
  gap: 7px;
}
.rows > * {
  flex: 1;
}
